<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <!-- PG SQL settings -->
    <!--<add name="mydb" connectionString="Server=localhost;Port=5432;Pooling=true;Database=DemoDB;User Id=jonathan;Password=;" providerName="npgsql" />-->
   
    <!-- MS SQL settings -->   
    <add name="mydb" connectionString="Server=localhost;Database=DemoDB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>