USE [master]
GO
/****** Object:  Database [DemoDb]    Script Date: 14/12/2015 11:20:29 ******/
CREATE DATABASE [DemoDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DemoDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DemoDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DemoDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoDb]
GO
/****** Object:  Table [dbo].[users]    Script Date: 14/12/2015 11:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](50) NOT NULL,
	[lastname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [firstname], [lastname], [email]) VALUES (1, N'Joe', N'Bloggs', N'joe.bloggs@gmail.com')
INSERT [dbo].[users] ([id], [firstname], [lastname], [email]) VALUES (2, N'Hannibal', N'Smith', N'hannibal@theateam.com')
INSERT [dbo].[users] ([id], [firstname], [lastname], [email]) VALUES (3, N'Vincent', N'Vega', N'vincent@pulpfiction.com')
SET IDENTITY_INSERT [dbo].[users] OFF
/****** Object:  StoredProcedure [dbo].[spGetUsers]    Script Date: 14/12/2015 11:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetUsers]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * from users
END

GO
USE [master]
GO
